@media (min-width: 992px) {
    .navbar {
        background: none!important;
        transition: background-color 1s;
        padding-top: 0;
        border-bottom: none;
    }
    .navbar.active-top {
        background-color: #f8f9fa!important;
        border-bottom: solid 1px lightgrey;
    }
    .navbar .navbar-brand {
        display: none;
    }
    .navbar.active-top .navbar-brand {
        display: inline-block;
    }
    a.nav-item {
        border-top: 0;
        padding-top: 8px;
    }
    a.nav-item.active {
        border-top: solid 4px #337ab7;
        padding-top: 4px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, .7);
    }
    .navbar-light.active-top .navbar-nav .nav-link {
        color: rgba(0, 0, 0, .5);
    }
    .navbar-light.active-top .navbar-nav .nav-link.active, .navbar-light.active-top .navbar-nav .nav-link:focus, .navbar-light.active-top .navbar-nav .nav-link:hover {
        color: rgba(0, 0, 0, .7);
    }
    /* typing animation */
    .typewriter h2 {
        width: 906px;
        display: none;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        margin-top: 2rem;
        animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    }
    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%
        }
    }
    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to {
            border-color: transparent
        }
        50% {
            border-color: orange;
        }
    }
}

body {
    position: relative;
    overflow-y: scroll;
}

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.ytimg.com/vi/foPZYFAQNLY/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 100px 20px;
    padding-top: 57px;
}

.navbar-light .navbar-brand {
    color: #337ab7;
}

header .row {
    height: 100%;
}

.rounded-circle.img-fluid {
    max-width: 50%;
}

section .container, footer .container {
    padding-top: 20px;
}

.container .row {
    padding-top: 40px;
    padding-bottom: 40px;
}

#top {
    padding-top: 56px;
}

a, a:hover {
    color: #337ab7;
    text-decoration: none;
}

section h2:after {
    content: " ";
    display: block;
    height: 4px;
    margin: 20px;
    background: #337ab7;
}

#work {
    background: lightgrey;
}

footer {
    background-color: #333333;
    font-size: 1.3rem;
}

#contact a i {
    color: rgba(255, 255, 255, .5);
}

#contact a:hover i {
    color: rgba(255, 255, 255, .75);
}

.card-img-left {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    float: left;
    padding-right: 1em;
    margin-bottom: -1.25em;
}

.list-group-item span {
    background: #ffe500ba;
    border: 1px solid #ffbb1b;
    border-radius: 5px;
    padding: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    display: block;
    float: left;
}

.device-wrapper {
    max-width: none;
}

.screen .img-fluid {
    border-radius: .15rem;
    width: 100%;
}

.device[data-device=MacbookPro][data-orientation=portrait][data-color=black] .screen {
    top: 5.71429%;
}

h2.text-center {
    display: table;
    margin: auto;
}

/* Small screen */

@media screen and (max-width: 1024px) {
    header {
        height: 56.25vw;
    }
}

/* Mobile screen */

@media screen and (max-width: 991px) {
    #top {
        margin-top: 56px;
        padding-top: 0;
    }
    .display-4 {
        font-size: 1.4rem;
    }
    .navbar {
        border-bottom: solid 1px lightgrey;
    }
    header h2 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    #about .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    footer .col-md-4 {
        margin-bottom: 30px;
    }
    .row .col-lg:nth-child(2) {
        margin-top: 30px;
    }
    .list-inline-item:not(:last-child) {
        margin-right: .3rem;
    }
}
